.header {
  text-align: left;
  background-color: #262626;
  height: 30px;
}
.header-element {
  margin: 10px;
}
.header-element:hover {
  margin: 10px;
  border-bottom: 2px solid red;
}
.navBarElement {
  text-decoration: none;
  color: white;
}
